---
layout: 'layouts/default.njk'
pagination:
  data: comics.series
  size: 1
  alias: seriesCurr
permalink: "comics/{{ seriesCurr | slugify }}/"
eleventyComputed:
  title: "{{ seriesCurr }} : Comics"
---

{%- import 'components/heading.njk' as heading %}

<article class="container mx-auto p-6">
  {{ heading.x(seriesCurr) }}
  <ul class="grid(& cols-2) gap-4 lg:(grid-cols-3 gap-16)">
    {%- for item in comics.items | pluck(seriesCurr, 'series') %}
      <li>
        <figure class="mx-auto w-full max-w-screen-xs">
          <img src="/_assets/img/comics/{{ item.series | slugify }}/{{ item.issue }}.jpg?{% version %}" alt="{{ item.series }}, {{ item.issue }}" class="w-full" />
          <figcaption>#{{ item.issue }} / {{ item.release_date }}</figcaption>
        </figure>
      </li>
    {%- endfor %}
  </ul>
</article>