{%- import 'components/el.njk' as el -%}
{%- macro nav(url='',class='',pos='',tip='') -%}
<li class="flex items-center {{ pos }}">
  <{% if url %}a href="{{ url }}"{% else %}button{% endif %} class="{{ class }} group w-12 h-12 text-xl flex items-center justify-center relative motion-safe:(transition) hover:(opacity-50)">
    {{ caller() }}
    {%- if tip %}
      {{ el.tooltip(tip=tip,nav=true) }}
    {%- endif %}
  </{% if url %}a{% else %}button{% endif %}>
</li>
{%- endmacro -%}

<!doctype html>
<html lang="en" class="bg-transparent antialiased" x-data>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{%- if title -%}{{ title +' // ' }}{%- endif -%} {{ site.meta.title +' // '+ site.meta.sub }}</title>
    <meta name="description" content="{{ site.meta.description }}" />
    <meta name="author" content="{{ site.meta.author +' - '+ site.meta.author_url }}" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Asap:wght@100..900&display=swap" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta property="og:title" content="{{ site.meta.title }}" />
    <meta property="og:description" content="{{ site.meta.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.meta.url }}{{ page.url }}" />
    <meta property="og:image" content="{{ site.meta.url }}/apple-touch-icon.png" />

    <script>
      if (localStorage.getItem('color-mode') === 'dark' || (window.matchMedia('(prefers-color-scheme: dark)').matches && !localStorage.getItem('color-mode'))) {
        document.documentElement.classList.add('dark');
      }
    </script>

  </head>

  <body class="bg-pri-50 text-pri-700 !block" style="display: none;" data-instant-intensity="mousedown">
    <div class="bg-grid fixed inset-0 opacity-20" aria-hidden="true"></div>
    <div class="min-h-screen flex-(& col) relative">
      <header class="py-4 border-(b pri-500/20) text-sm flex-(& none) justify-center gap-2 relative z-20 lg:(py-12 border-(b-0 r) w-16 fixed inset-y-0 left-0)">
        <nav class="w-full h-full">
          <ul class="flex-(& row) items-center justify-center gap-1 lg:(h-full flex-col)">
            {%- call nav(url='/',pos='w-full justify-start lg:(justify-center)') %}
              <b class="border-(1 sec-500/20) w-2/3 h-2/3 bg-sec-500/20 flex items-center justify-center motion-safe:(transition) group-hover:(bg-opacity-50)">{{ site.meta.title_short }}</b>
            {%- endcall %}
            {%- for item in collections.all | eleventyNavigation %}
              {%- call nav(url=item.url,tip=item.key) %}
                <iconify-icon icon="{{ item.ico }}" class="iconify"></iconify-icon>
                {%- if item.url == page.url or item.url in page.url %}<b class="h-1 bg-sec-500 absolute bottom-0 inset-x-0 lg:(w-1 h-auto inset-x-auto inset-y-0 -right-2)" aria-hidden="true"></b>{%- endif %}
              {%- endcall %}
            {%- endfor %}
            {%- call nav(class='color-mode',pos='w-full justify-end lg:(mt-auto justify-center)') %}
              <span class="block dark:(hidden)"><iconify-icon icon="mdi:brightness-5" class="iconify"></iconify-icon> <span class="sr-only">Switch to dark mode</span></span>
              <span class="hidden dark:(block)"><iconify-icon icon="mdi:brightness-4" class="iconify"></iconify-icon> <span class="sr-only">Switch to light mode</span></span>
            {%- endcall %}
          </ul>
        </nav>
      </header>
      <main class="flex-(& 1) relative z-10 lg:(mx-16)">
        <section class="w-full">
          {%- if title %}
          <h1 class="mx-auto px-4 py-12 max-w-7xl leading-none text-2xl font-black md:(px-8) lg:(px-12 text-[calc(2.5vw)] leading-none)">{{ title }}</h1>
          {%- endif %}
          {{ content | safe }}
        </section>
      </main>
      <footer class="mt-auto py-6 border-(t pri-500/20) text-xs uppercase flex-(& none) items-center justify-center gap-2 relative z-20 lg:(py-12 border-(t-0 l) w-16 [writing-mode:vertical-rl] justify-end fixed inset-y-0 right-0)">
        <span class="text-pri-500">Collected by</span>
        <span class="inline-flex gap-4 font-bold">
          <a href="https://{{ site.meta.author_url }}">{{ site.meta.author }}</a>
          <span aria-hidden="true" class="text-pri-400">/</span>
          1992 - {% year %}
        </span>
      </footer>
    </div>

    <script src="/_assets/js/_app.js?v={% bust %}"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E6JMS932MJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-E6JMS932MJ');
    </script>
  </body>

</html>