<!doctype html>
<html lang="en" class="bg-transparent antialiased [&:has(:is(dialog[open]))]:(overflow-hidden [scrollbar-gutter:stable])" x-data="app" @dialog.window="listData = JSON.parse($event.detail)">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{%- if title -%}{{ title + site.meta.separator }}{%- endif -%} {{ site.meta.title + site.meta.separator + site.meta.sub }}</title>
    <meta name="description" content="{{ site.meta.description }}" />
    <meta name="author" content="{{ site.meta.author +' - '+ site.meta.author_url }}" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link onload="this.onload=null;this.rel='stylesheet'" rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta property="og:title" content="{{ site.meta.title }}" />
    <meta property="og:description" content="{{ site.meta.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.meta.url }}{{ page.url }}" />
    <meta property="og:image" content="{{ site.meta.url }}/apple-touch-icon.png" />

    <script>
      if (localStorage.getItem('color-mode') === 'dark' || (window.matchMedia('(prefers-color-scheme: dark)').matches && !localStorage.getItem('color-mode'))) {
        document.documentElement.classList.add('dark');
      }
    </script>
    <style data-twind></style>

  </head>

  <body class="bg-pri-100 text-pri-700 font-comic italic dark:(bg-pri-900) !block" style="display: none;" data-instant-intensity="mousedown">
    <div class="bg-grid fixed inset-0 opacity-20" aria-hidden="true"></div>
    <div class="min-h-screen flex-(& col) relative">
      <header class="py-4 border-(b dashed acc-500/30) bg-white/50 text-sm flex-(& none) justify-center gap-2 relative z-20 lg:(py-12 border-(b-0 r) w-16 fixed inset-y-0 left-0) dark:(bg-transparent)">
        <nav class="w-full h-full" aria-label="Main sections">
          <ul class="flex-(& row) items-center justify-center gap-2 lg:(h-full flex-col)">
            {#- home #}
            <li class="w-full flex items-center justify-start lg:(justify-center)">
              <a href="/" class="group ml-4 w-12 h-12 text-lg flex relative items-center justify-center motion-safe:(transition) hover:(opacity-50) lg:(ml-0)">
                {%- include '_inc.logo.njk' -%}
              </a>
            </li>
            {%- for item in collections.all | eleventyNavigation %}
              <li class="flex items-center">
                <a href="{{ item.url }}" x-tooltip="'{{ item.key }}'" data-tippy-placement="bottom" class="group w-12 h-12 text-2xl flex items-center justify-center relative motion-safe:(transition) hover:(opacity-50)">
                  <iconify-icon icon="{{ item.ico }}" class="iconify"></iconify-icon>
                  {%- if item.url == page.url or item.url in page.url %}<b class="h-1 bg-acc-500 absolute bottom-0 inset-x-0 lg:(w-1 h-auto inset-x-auto inset-y-0 -right-2)" aria-hidden="true"></b>{%- endif %}
                </a>
              </li>
            {%- endfor %}
            {#- color mode #}
            <li class="w-full flex items-center justify-end lg:(mt-auto justify-center)">
              <button class="color-mode mr-4 w-12 h-12 text-2xl flex relative items-center justify-center motion-safe:(transition) hover:(opacity-50) lg:(mr-0)">
                <span class="block dark:(hidden)"><iconify-icon icon="mdi:brightness-5" class="iconify"></iconify-icon> <span class="sr-only">Switch to dark mode</span></span>
                <span class="hidden dark:(block)"><iconify-icon icon="mdi:brightness-4" class="iconify"></iconify-icon> <span class="sr-only">Switch to light mode</span></span>
              </button>
            </li>
          </ul>
        </nav>
      </header>
      <main class="flex-(& 1) relative z-10 lg:(mx-16)">
        <section class="w-full">
          {%- if page.url !== '/' %}
          <div class="mx-auto px-4 py-12 max-w-5xl flex items-center justify-between gap-3 md:(px-8) lg:(px-16)">
            {%- if page.filePathStem === '/misc/index' %}
              {%- set svg -%}{{ title | slugify }}{%- endset -%}
              <h1 aria-label="{{ title }}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 60" role="img" class="w-full max-w-[200px] fill-current">
                  <title>{{ title }} signature</title>
                  <use href="/_assets/creators.svg#logo-{{ svg }}" />
                </svg>
              </h1>
            {%- elseif title %}
              <h1 class="px-3 border-(1 current) pt-0.5 pb-px bg-sec-200 text-(sec-800 sm center) font-bold uppercase z-10 pointer-events-none shadow-md lg:(pt-1 text-base motion-safe:(animate-bounce-slow)) dark:(bg-sec-200 text-sec-800)">{{ title }}</h1>
              {%- if page.filePathStem === '/comics' %}
                {%- include '_inc.search.njk' -%}
              {%- endif %}
            {%- endif %}
          </div>
          {%- endif %}
          {{ content | safe }}
        </section>
      </main>
      <footer class="mt-auto py-6 border-(t dashed acc-500/30) bg-white/50 text-sm not-italic uppercase flex-(& none) items-center justify-center gap-2 relative z-20 lg:(py-12 border-(t-0 l) w-16 [writing-mode:vertical-rl] justify-end fixed inset-y-0 right-0) dark:(bg-transparent)">
        <span class="text-pri-500">Collected by</span>
        <span class="inline-flex gap-4 font-bold">
          <a href="https://{{ site.meta.author_url }}">{{ site.meta.author }}</a>
          <span aria-hidden="true" class="text-pri-500">/</span>
          <span>1992</span> - <span x-text="new Date().getFullYear()"></span>
        </span>
      </footer>
    </div>

    <script>
      document.addEventListener('alpine:init', () => {
        Alpine.data('comics', () => ({
{%- renderblock 'xdata' -%}
        }));
      });
    </script>
    <script type="module" src="/_assets/js/_app.js?v={% bust %}"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E6JMS932MJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-E6JMS932MJ');
    </script>
  </body>

</html>
