<span class="text-[1em] leading-none font-black flex-(& col) items-center justify-center motion-safe:(transition) group-hover:(bg-opacity-50)">
  <b>cmx</b>
  <small class="text-[.6em] leading-none uppercase opacity-50">media</small>
</span>
