{%- macro x() -%}
  <div class="py-4 flex(& col) justify-between">
    <i class="space-y-4 md:(space-y-8)">
      <b class="w-2 h-[2px] bg-pri-300 block md:(w-4)"></b>
      <b class="w-2 h-[2px] bg-pri-300 block md:(w-4)"></b>
    </i>
    <i class="flex(& 1 col) justify-around">
      <i class="space-y-4 md:(space-y-8)">
        <b class="w-2 h-[2px] bg-pri-300 block md:(w-4)"></b>
        <b class="w-2 h-[2px] bg-pri-300 block md:(w-4)"></b>
      </i>
      <i class="space-y-4 md:(space-y-8)">
        <b class="w-2 h-[2px] bg-pri-300 block md:(w-4)"></b>
        <b class="w-2 h-[2px] bg-pri-300 block md:(w-4)"></b>
      </i>
      <i class="space-y-4 md:(space-y-8)">
        <b class="w-2 h-[2px] bg-pri-300 block md:(w-4)"></b>
        <b class="w-2 h-[2px] bg-pri-300 block md:(w-4)"></b>
      </i>
    </i>
    <i class="space-y-4 md:(space-y-8)">
      <b class="w-2 h-[2px] bg-pri-300 block md:(w-4)"></b>
      <b class="w-2 h-[2px] bg-pri-300 block md:(w-4)"></b>
    </i>
  </div>
{%- endmacro -%}