{%- macro x(slot='Heading',class='') -%}
  <h1 class="label mb-8 font-black text-2xl leading-none tracking-tight inline-flex items-end lg:(pr-2 text-[calc(2.5vw)] leading-none gap-2) {{ class }}" data-label="Title:">
    {{ slot }}
  </h1>
{%- endmacro -%}