---
layout: 'layouts/default.njk'
pagination:
  data: collections.comicsByTitle
  size: 1
  alias: comic
permalink: 'comics/{{ comic | slugify }}/'
eleventyComputed:
  title: '{{ comic | safe }}'
  cover: '/_assets/img/comics/{{ comic | slugify }}/series.jpg'
---

{%- import 'components/el.njk' as el -%}

{% call el.list() %}
  {%- for type, items in collections.comics | groupby('data.title') %}
    {% if type == comic %}
      {% for item in items %}
      {%- set details -%}{{ item.data.issue }} {{ item.data.variant }}{%- endset -%}
      {{ el.listitem(title=details,sub=item.data.release_date,signed=item.data.signed_by,image='/_assets/img/comics/'+ item.data.title | slugify +'/'+ item.data.issue | slugify +'.jpg',loop=loop) }}
      {% endfor %}
    {% endif %}
  {%- endfor %}
{% endcall %}