---
layout: layouts/default.njk
pagination:
  data: collections.comicsByTitle
  size: 1
  alias: comic
permalink: 'comics/{{ comic | slugify }}/'
eleventyComputed:
  title: '{{ comic | safe }}'
  cover: '/_assets/img/comics/{{ comic | slugify }}/series.jpg'
---

{%- from 'macro.list.njk' import list, listItem -%}

{%- call list() %}
  {%- for item in collections.comicsCurrent[title] %}
    {%- set details -%}{{ item.data.issue }}{{ ' '+ item.data.variant if item.data.variant }}{%- endset -%}

    {%- set comic -%}
    {
      "category": "comics",
      {%- set stringFields = ['title', 'issue', 'variant', 'publisher', 'release_date', 'signed_by', 'price'] -%}
      {%- for field in stringFields -%}
        "{{ field }}": "{{ item.data[field] | replace('"', '\\"') | safe }}"{% if not loop.last %},{% endif %}
      {%- endfor -%}
    }
    {%- endset -%}
    {%- set parsedComic = comic | safe | JSON -%}

    {{ listItem({
      series: item.data.title,
      issues: true,
      badge: details,
      signed: item.data.signed_by,
      image: '/_assets/img/comics/'+ item.data.title | slugify +'/'+ item.data.issue | slugify +'.jpg',
      url: '#'+ details | replace(' ', '-'),
      data: parsedComic
    }) }}
  {%- endfor %}
{%- endcall %}

{%- if collections.comicsCurrent[title].length -%}{%- include '_inc.dialog.njk' -%}{%- endif -%}
