<!doctype html>
<html lang="en" class="bg-pri-900" x-data="{}" hidden x-cloak>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{%- if title -%}{{ title +' : ' }}{%- endif -%} {{ site.meta.title +' : '+ site.meta.sub }}</title>
    <meta name="description" content="{{ site.meta.description }}" />
    <meta name="author" content="{{ site.meta.author + ' - '+ site.meta.author_url }}" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="icon" type="image/x-icon" href="/favicon.ico" /> -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap" />

    <meta property="og:title" content="{{ site.meta.title }}" />
    <meta property="og:description" content="{{ site.meta.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://comx.media{{ page.url }}" />
    <!-- <meta property="og:image" content="https://comx.media/_assets/img/og.png" /> -->

    {% import 'components/logo.njk' as logo %}
    {% import 'components/borders-y.njk' as bordersY %}
    {% import 'components/sep.njk' as sep %}

  </head>

  <body class="bg-pri-200 text-pri-700 font-comic">

    <div class="mx-auto p-4 w-full max-w-screen-lg min-h-screen flex(& col)">
      <header class="w-full flex-none">
        <div class="pt-4 pb-6 flex items-end">
          <div class="label pr-2 flex items-end gap-2" data-label="Site">
            <a href="/" class="-mb-2">{{ logo.x(site.meta.title) }}</a>
          </div>
          <nav class="ml-auto">
            <ul class="label pr-2 flex items-center gap-4" data-label="Nav">
              {%- for item in collections.all | eleventyNavigation %}
                <li><a href="{{ item.url }}" class="text-current {% if item.url == page.url %} active{% endif %}">{{ item.key }}</a></li>
              {%- endfor %}
            </ul>
          </nav>
        </div>
      </header>
      <main class="flex(& 1) relative">
        <b class="border(l-2 dashed pri-300) absolute left-4 -inset-y-3 md:(left-7)"></b>
        {{ bordersY.x() }}
        <section class="py-8 px-4 border(2 pri-300) w-full bg-pri-100 flex(& 1) md:(py-12 px-6)">
          <article class="p-4 border(2 dashed pri-300) flex(& 1) items-center justify-center">
            {{ content | safe }}
          </article>
        </section>
        {{ bordersY.x() }}
        <b class="border(l-2 dashed pri-300) absolute right-4 -inset-y-3 md:(right-7)"></b>
      </main>
      <footer class="w-full pt-6 text-xs flex(& none)">
        <p class="label pr-2 flex items-end gap-2" data-label="Credit">
          <span>
            &copy;{% year %} {{ sep.x() }} {{ site.meta.footer }}
            <a href="https://{{ site.meta.author_url }}/" class="group mx-1 text-sec-600 inline-flex flex-col motion-safe:(transition) hover:(text-sec-900)">
              {{ site.meta.author }}
            </a>
          </span>
        </p>
      </footer>
    </div>

    <script src="/_assets/js/alpine.js?v={% version %}"></script>
    <script src="/_assets/js/twind.js?v={% version %}"></script>
    <script src="https://kit.fontawesome.com/a2bf4ed495.js"></script>
    <script>
      twind.setup({
        mode: "silent",
        theme: {
          extend: {
            colors: {
              pri: twindColors.blueGray,
              sec: twindColors.warmGray,
            },
            fontFamily: (theme) => ({
              comic: 'Cabin Sketch,' + theme('fontFamily.sans'),
            }),
          },
        },
        plugins: {
          'scroll-smooth': { 'scroll-behavior': 'smooth' },
          'writing-vertical-rl': { 'writing-mode': 'vertical-rl' },
        },
      })
      twind.tw(() => ({
        '@global': {
          '[x-cloak]': { '@apply': 'hidden', },
          '.label': { '@apply': 'border(b-2 pri-300)' },
          '.label:before': { '@apply': 'mr-2 text([11px] pri-400) font(sans semibold) uppercase', 'content': 'attr(data-label)' },
        }
      }))
      twindObserve.observe(document.documentElement);
      document.documentElement.removeAttribute('hidden');
    </script>

  </body>

</html>