<!doctype html>
<html lang="en" class="bg-gray-900" x-data="{}" hidden x-cloak>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{%- if title -%}{{ title +' : ' }}{%- endif -%} {{ site.meta.title +' : '+ site.meta.sub }}</title>
    <meta name="description" content="{{ site.meta.description }}" />
    <meta name="author" content="{{ site.meta.author + ' - '+ site.meta.author_url }}" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="icon" type="image/x-icon" href="/favicon.ico" /> -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap" />

    <meta property="og:title" content="{{ site.meta.title }}" />
    <meta property="og:description" content="{{ site.meta.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://comx.media{{ page.url }}" />
    <!-- <meta property="og:image" content="https://comx.media/_assets/img/og.png" /> -->

    {% import 'components/logo.njk' as logo %}

  </head>

  <body class="bg-gray-100 text-gray-700">

    <div class="min-h-screen flex(& col) gap-16 relative">
      <header class="w-full flex-none">
        <a href="/">{{ logo.x(site.meta.title) }}</a>
      </header>
      <main class="flex(& 1) items-center justify-center">
        {{ content | safe }}
      </main>
      <footer class="w-full flex-none">
        &copy;{% year %} {{ site.meta.footer }}<br />
        <a href="https://{{ site.meta.author_url }}/" class="group mx-1 text-sec-600 inline-flex flex-col motion-safe:(transition) hover:(text-sec-900)">
          {{ site.meta.author }}
          <b class="h-px w-full flex"><b class="w-0 bg-current motion-safe:(transition-all) group-hover:(w-full)"></b></b>
        </a>
      </footer>
    </div>

    <script src="/_assets/js/alpine.js?v={% version %}"></script>
    <script src="/_assets/js/twind.js?v={% version %}"></script>
    <script src="https://kit.fontawesome.com/a2bf4ed495.js"></script>
    <script>
      twind.setup({
        mode: "silent",
        theme: {
          extend: {
            colors: {
              pri: twindColors.red,
              sec: twindColors.blue,
            },
            fontFamily: (theme) => ({
              sans: 'Cabin Sketch,' + theme('fontFamily.sans'),
            }),
          },
        },
        plugins: {
          ...twindTypography(),
          'scroll-smooth': { 'scroll-behavior': 'smooth' },
        },
      })
      twind.tw(() => ({
        '@global': {
          '[x-cloak]': { '@apply': 'hidden', },
        }
      }))
      twindObserve.observe(document.documentElement);
      document.documentElement.removeAttribute('hidden');
    </script>

  </body>

</html>