{%- macro dt(param) -%}
<div class="py-2 px-4">
  <dt class="text-sm font-semibold">{{ param.label }}</dt>
  <dd class="text-(pri-500 sm)">{{ caller() }}</dd>
</div>
{%- endmacro -%}

{%- macro row(param) -%}
  <template x-if="comicData.{{ param.field }}" hidden>
    {%- call dt({label: param.label}) -%}
      <span x-text="{% if param.field === 'price' %}'$'+ {% endif %}comicData.{{ param.field }}"></span>
    {%- endcall -%}
  </template>
{%- endmacro -%}

<template x-teleport="body">
  <dialog x-ref="details" class="
    dialog
    m-0
    px-6
    pb-6
    w-full
    max-w-none
    h-full
    max-h-none
    min-h-screen
    bg-transparent
    text-[inherit]
    invisible
    grid
    items-end
    justify-items-center
    fixed
    inset-0
    pointer-events-none
    overflow-y-hidden
    [overscroll-behavior:contain]
    opacity-0
    motion-safe:(transition-all)
    md:(items-center)
    [&[open]]:(pointer-events-auto visible opacity-100)
    [&[open]_.dialog-box]:(translate-y-0 scale-100)
    [&::backdrop]:(bg-black/50 dark:(bg-black/80))
  ">
    <div class="
      dialog-box
      w-full
      max-w-[26.25rem]
      max-h-[calc(100vh-5em)]
      bg-pri-50/75
      text-pri-900
      col-start-1
      row-start-1
      overflow-y-auto
      [overscroll-behavior:contain]
      -translate-y-3
      scale-95
      shadow-2xl
      backdrop-blur-md
      motion-safe:(transition-all)
      dark:(bg-gradient-to-b from-white/5 to-transparent
    ">
      <header class="py-4 pl-6 pr-3 border-(t b pri-500/20) flex-(& row-reverse none) items-center justify-between gap-4">
        <form method="dialog"><button class="btn btn-ghost btn-circle" aria-label="Close"><iconify-icon icon="mdi:close" width="24px" height="24px" class="iconify"></iconify-icon></button></form>
        <h2 class="min-w-0 text-2xl flex-(& 1) items-center gap-2">
          <strong x-text="comicData.title ? comicData.title : 'Title'" class="truncate flex-1"></strong>
          <small x-text="comicData.issue ? ('#'+ comicData.issue) : '#[###]'" class="text-(pri-500 base) leading-none shrink-0"></small>
        </h2>
      </header>
      <div class="relative">
        <picture class="peer md:(w-full max-w-[26.25rem])">
          <img
            :src="comicData.title ? '/_assets/img/comics/'+ slugify(comicData.title) +'/'+ slugify(comicData.issue) +'.jpg' : '/_assets/img/_comic.jpg'"
            :alt="comicData.title ? comicData.title +' '+ comicData.issue +' cover art' : ''"
            width="420"
            height="640"
            class="mx-auto"
          />
        </picture>
        <div class="mx-auto max-w-fit bg-black/90 text-white absolute bottom-7 right-7 rounded shadow-xl transition peer-hover:opacity-0">
          <dl class="divide-(y pri-500/20)">
            {{ row({ label: 'Variant:', field: 'variant' }) }}
            {{ row({ label: 'Publisher:', field: 'publisher' }) }}
            {{ row({ label: 'Released:', field: 'release_date' }) }}
            {{ row({ label: 'Signed by:', field: 'signed_by' }) }}
            {{ row({ label: 'Price:', field: 'price' }) }}
          </dl>
        </div>
      </div>
    </div>
    <form method="dialog" class="dialog-backdrop text-transparent grid [grid-column-start:1] [grid-row-start:1] self-stretch justify-self-stretch z-[-1]"><button>close</button></form>
  </dialog>
</template>
