{%- macro list(param) -%}
<ul class="mx-auto px-4 pb-12 w-full max-w-7xl grid-(& cols-2) gap-x-6 gap-y-16 md:(px-8 grid-cols-3 gap-x-12) lg:(px-12 grid-cols-4 gap-x-16)">
  {{ caller() }}
</ul>
{%- endmacro -%}

{%- macro listItem(param) -%}
  {#-
    series: string
    title: string
    signed: string
    image: string
    url: string
    props: string
  -#}
  {%- set image -%}{{- param.image if param.image else '/_assets/img/_comic.jpg' -}}{%- endset -%}

  <li class="[&_*]:(min-w-0 min-h-0) group flex relative focus-within:([&_picture_img]:(-translate-y-6))">
    <picture class="bg-white/80 flex-1 relative shadow transform-gpu motion-safe:(transition ease-in-out)">
      <img src="{{ image }}" width="420" height="640" alt="{{- param.series +': '+ param.title -}} cover" class="w-full ring-(1 black/80) shadow transform-gpu motion-safe:(transition) group-hover:(-translate-y-6)" />
      <span class="slip-cover
        overflow-hidden
        absolute
        -inset-1.5
        z-10
        shadow-[0_5px_10px_rgb(0_0_0_/_.5),inset_0_0_10px_rgb(255_255_255_/_.33),inset_0_0_0_1px_rgb(255_255_255_/_.1)]
        before:(content-[''] border-(l white/30) w-4 bg-gradient-to-r from-white/20 absolute left-0 inset-y-0)
        after:(content-[''] border-(t white/30) w-full bg-gradient-to-br from-white/50 via-white/5 aspect-square absolute top-0 left-0 [clip-path:polygon(100%_0,0_0,0_100%)])"
        aria-hidden="true">
      </span>
    </picture>
    <div class="px-2 flex shrink-0">
      <{% if param.url %}a href="{{ param.url }}" {{ param.props | safe }}{% else %}p tabindex="0"{% endif %} class="font-medium flex focus:(outline-none)">
        <span class="flex items-center gap-3 [writing-mode:vertical-lr]">
          {%- if param.title %}<strong class="h-0 text-pri-500 truncate grow">{{ param.title }}</strong>{%- endif %}
          <em class="not-italic shrink-0">{{ param.badge }}</em>
        </span>
        {% if param.url %}<span class="absolute inset-0 z-30" aria-hidden="true"></span>{% endif %}
      </{% if param.url %}a{% else %}p{% endif %}>
    </div>
  </li>
{%- endmacro -%}
