---
layout: layouts/default.njk
title: Comics
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
    ico: mdi:bookshelf
    order: 1
---

{%- from 'macro.list.njk' import list, listItem -%}

<div x-data="{ comicHud: true }">
  {%- call list() %}
    {%- for type, items in collections.comics | groupby('data.title') %}
      {{ listItem({
        title: type,
        sub: items.length,
        image: '/_assets/img/comics/'+ type | slugify +'/series.jpg',
        url: '/comics/'+ type | slugify +'/'
      }) }}
    {%- endfor %}
  {%- endcall %}
</div>
