---
layout: 'layouts/default.njk'
eleventyNavigation:
  key: Comics
  title: Issues / TP
  ico: mdi:bookshelf
  order: 1
title: Comics
---

{%- import 'components/el.njk' as el -%}

{% call el.list() %}
  {%- for item in collections.comicsByTitle %}
    {{ el.listitem(title=item,image='/_assets/img/comics/'+ item | slugify +'/series.jpg',url='/comics/'+ item | slugify +'/',loop=loop) }}
  {%- endfor %}
{% endcall %}