---
layout: 'layouts/default.njk'
---

{%- set pricesComics = [] %}
{%- for p in collections.comics %}
  {%- set pricesComics = (pricesComics.push(p.data.price), pricesComics) %}
{%- endfor %}

{%- set pricesZines = [] %}
{%- for p in collections.magazines %}
  {%- set pricesZines = (pricesZines.push(p.data.price), pricesZines) %}
{%- endfor %}

{%- set pricesMisc = [] %}
{%- for p in collections.misc %}
  {%- set pricesMisc = (pricesMisc.push(p.data.price), pricesMisc) %}
{%- endfor %}

{%- macro data(name='name', itemsTotal='itemsTotal', seriesTotal='seriesTotal', price='price', color='pri-50', bg='/_assets/img/comics/the-creech/series.jpg') %}
  <a href="/{{ name | slugify }}/" class="group py-3 bg-{{ color }}-100/30 font-semibold flex relative overflow-hidden motion-safe:(transition) hover:(text-{{ color }}-800 opacity-100) lg:(py-32)">
    <div class="m-auto w-full">
      <img src="{{ bg }}" alt="{{ name }}" class="w-full h-full block absolute inset-0 object-cover opacity-5 transform motion-safe:(transition) group-hover:(opacity-25 scale-110)" />
      <div class="w-full py-6 px-4 relative transform translate-y-4 motion-safe:(transition) group-hover:(bg-{{ color }}-50/75 translate-y-0)">
        <div class="mx-auto max-w-[250px]">
          <p class="pb-2 border-(b-2 dashed pri-500/20) flex items-end before:(mr-2 pb-1 text-(sm current) tracking-normal leading-none font-bold uppercase content-[attr(data-label)])" data-label="{{ name }}:">
            <b class="ml-auto text-4xl lg:(text-8xl leading-none tracking-tighter)">{{ itemsTotal }}</b>
          </p>
          <small class="pt-3 text-base flex opacity-75">
            <span>{{ seriesTotal }} titles</span>
            <span class="ml-auto"><sup class="mr-1">$</sup>{{ price }}</span>
          </small>
        </div>
      </div>
    </div>
  </a>
{%- endmacro %}

<article class="divide-(y dashed pri-500/20) w-full h-full text-pri-500 grid-(& cols-1) lg:(divide-x grid-cols-3)">
  <h1 class="w-28 h-28 bg-gray-500/20 text-6xl leading-none font-black hidden items-center justify-center absolute top-10 left-1/2 z-20 pointer-events-none rounded-full -translate-x-1/2 dark:(shadow-2xl) lg:(flex-(& col))">
    <b>cmx</b>
    <small class="text-4xl leading-none tracking-wider uppercase opacity-50">media</small>
  </h1>
  {{ data(name='Comics', itemsTotal=(collections.comics | length), seriesTotal=(collections.comicsByTitle | length), price=(pricesComics | sum | round), color='pri', bg='/_assets/img/data-comics.jpg') }}
  {{ data(name='Magazines', itemsTotal=(collections.magazines | length), seriesTotal=(collections.magazinesByTitle | length), price=(pricesZines | sum | round), color='pri', bg='/_assets/img/data-zines.jpg') }}
  {{ data(name='Misc', itemsTotal=(collections.misc | length), seriesTotal=(collections.miscByTitle | length), price=(pricesMisc | sum | round), color='pri', bg='/_assets/img/data-misc.jpg') }}
</article>