---
layout: layouts/default.njk
title: Magazines
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
    ico: mdi:newspaper
    order: 2
---

{%- from 'macro.list.njk' import list, listItem -%}

<div x-data="{ comicHud: true }">
  {%- call list() %}
    {%- for type, items in collections.magazines | groupby('data.title') %}
      {{ listItem({
        title: type,
        sub: items.length,
        image: '/_assets/img/magazines/'+ type | slugify +'/series.jpg',
        url: '/magazines/'+ type | slugify +'/'
      }) }}
    {%- endfor %}
  {%- endcall %}
</div>
