---
layout: layouts/default.njk
title: Misc
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
    ico: mdi:signature-freehand
    order: 3
---

{%- from 'macro.list.njk' import list, listItem -%}

{%- call list() %}
  {%- for type, items in collections.misc | groupby('data.title') %}
    {{ listItem({
      title: type,
      sub: items.length,
      svg: type | slugify,
      url: '/misc/'+ type | slugify +'/'
    }) }}
  {%- endfor %}
{%- endcall %}
