---
layout: 'layouts/default.njk'
eleventyNavigation:
  key: Misc
  title: Collectables
  ico: mdi:signature-freehand
  order: 3
title: Misc
---

{%- import 'components/el.njk' as el -%}

{% call el.list() %}
  {%- for item in collections.miscByTitle %}
  {{ el.listitem(title=item,svg=item | slugify,url='/misc/'+ item | slugify +'/',loop=loop) }}
  {%- endfor %}
{% endcall %}