---
layout: 'layouts/default.njk'
pagination:
  data: zines.series
  size: 1
  alias: seriesCurr
permalink: "zines/{{ seriesCurr | slugify }}/"
eleventyComputed:
  title: "{{ seriesCurr }} : Magazines"
---

{%- import 'components/heading.njk' as heading %}
{%- import 'components/comic-list.njk' as list %}

<article class="container mx-auto p-6">
  {{ heading.x(seriesCurr) }}
  <ul class="grid(& cols-2) gap-4 lg:(grid-cols-5 gap-16)">
    {%- for item in zines.items | pluck(seriesCurr, 'series') %}
      <li>
        {{ list.x(name=item.issue +' / '+ item.release_date,image='/_assets/img/zines/'+ item.series | slugify +'/'+ item.issue +'.jpg?v='+ version) }}
      </li>
    {%- endfor %}
  </ul>
</article>