---
layout: 'layouts/default.njk'
eleventyNavigation:
  key: Comics
  order: 1
title: 'Comics'
---

{% import 'components/heading.njk' as heading %}

<article class="container mx-auto p-6" x-data="searchInput">
  
  <div class="text-center md:(text-left flex items-end)">
    {{ heading.x(title) }}
    <div class="search mx-auto mb-8 w-full max-w-[250px] md:(mx-0 ml-auto)">
      <label class="label flex items-end" data-label="Search:" @click.outside="closeSearch">
        <input type="search" class="py-0.5 px-1.5 w-full bg-transparent text-sm font-sans block" @input="getItems" x-model="search" />
      </label>
    </div>
  </div>

  <ul x-show="isOpen" class="grid(& cols-2) gap-4 lg:(grid-cols-3 gap-16)">
    <template x-for="item in getItems">
      <li>
        <a :href="'/comics/'+ slugify(item.series) +'/'" class="mx-auto w-full max-w-[250px] text-center block relative">
          <figure>
            <img :src="'/_assets/img/comics/'+ slugify(item.series) +'/'+ item.issue +'.jpg'" :alt="item.series" class="mx-auto w-full" />
            <figcaption>
              <strong x-text="item.series" class="truncate block"></strong>
            </figcaption>
          </figure>
          <b class="px-1 min-w-[1.5rem] h-6 bg-white text-sm leading-none flex items-center justify-center absolute -top-3 -right-3 ring(1 pri-500 opacity-75) rounded-full shadow-lg"><span x-text="item.issue"></span></b>
        </a>
      </li>
    </template>
  </ul>
  <div x-show="!isOpen && search.length" class="alert py-8 text(2xl yellow-600 center)" role="alert">
    Bang! Zap! Pow!
    <strong class="py-2 text(sm pri-500) uppercase block">No results</strong>
  </div>

  <ul x-show="!isOpen && !search.length" class="grid(& cols-2) gap-4 lg:(grid-cols-3 gap-16)">
    {%- for series in (comics.series) %}
      <li>
        <a href="/comics/{{ series | slugify }}/" class="mx-auto w-full max-w-[250px] text-center block relative">
          <figure>
            <img src="/_assets/img/comics/{{ series | slugify }}/series.jpg?v={% version %}" alt="{{ series }}" class="mx-auto w-full" />
            <figcaption>
              <strong class="truncate block">{{ series }}</strong>
              <ul class="text-xs font-mono flex flex-wrap justify-center gap-x-3">
                {%- for item in comics.items | pluck(series, 'series') %}
                  <li>
                    {{ item.issue }}
                  </li>
                {%- endfor %}
              </ul>
            </figcaption>
          </figure>
          <b class="px-1 min-w-[1.5rem] h-6 bg-white text-sm leading-none flex items-center justify-center absolute -top-3 -right-3 ring(1 pri-500 opacity-75) rounded-full shadow-lg">{{ comics.items | pluck(series, 'series') | length }}</b>
        </a>
      </li>
    {%- endfor %}
  </ul>
</article>

<script>
  document.addEventListener('alpine:init', () => {
    Alpine.data('searchInput', () => ({
      isOpen: false,
      search: "",
      get getItems() {
        const filterItems = this.sourceData.filter((item) => {
          //return item.series.toLowerCase().startsWith(this.search.toLowerCase())
          return item.series.toLowerCase().includes(this.search.toLowerCase())
        })
        if(filterItems.length < this.sourceData.length && filterItems.length > 0) {
          this.isOpen = true
          return filterItems
        } else {
          this.isOpen = false
        }
      },
      cleanSearch(e) {
        // alert(e.target.innerText)
        this.search = ""
      },
      closeSearch() {
        this.search = ""
        this.isOpen = false
      },
      slugify(text) {
        return text
          .toString()
          .replace(/\.+/g, '-')
          .normalize('NFKD')
          .toLowerCase()
          .trim()
          .replace(/\s+/g, '-')
          .replace(/[^\w\-]+/g, '')
          .replace(/\-\-+/g, '-')
      },
      sourceData: {{ comics.items | dump | safe }},
    }))
  })
</script>