---
layout: 'layouts/default.njk'
---

<section>
  <div class="container mx-auto">
    <ul class="grid(& cols-3) gap-10 lg:(gap-16)">
      {% for zine in (magazines | unique('series')) -%}
        <li>
          <a href="/magazines/{{ zine.series | slugify }}/" class="mx-auto max-w-xs text-center block">
            <figure>
              <img src="/_assets/img/comics/{{ zine.series | slugify }}/series.jpg?v={% version %}" alt="{{ zine.series }}" class="mx-auto w-32" />
              <figcaption>
                <strong class="truncate">{{ zine.series }}</strong>
                <ul class="text-xs font-mono flex flex-wrap justify-center gap-x-3">
                  {%- for issue in magazines %}
                    {%- if issue.series === zine.series %}
                      <li>
                        {{ issue.issue }}
                      </li>
                    {%- endif %}
                  {%- endfor %}
                </ul>
              </figcaption>
            </figure>
          </a>
        </li>
      {% endfor -%}
    </ul>
  </div>
</section>