---
layout: 'layouts/default.njk'
eleventyNavigation:
  key: Mags
  order: 2
title: 'Magazines'
---

{% import 'components/heading.njk' as heading %}

<article class="container mx-auto">
  {{ heading.x(title) }}
  <ul class="grid(& cols-2) gap-4 lg:(grid-cols-3 gap-16)">
    {%- for series in (magazines.series) %}
      <li>
        <a href="/magazines/{{ series | slugify }}/" class="mx-auto w-full max-w-[250px] text-center block relative">
          <figure>
            <img src="/_assets/img/magazines/{{ series | slugify }}/series.jpg?v={% version %}" alt="{{ series }}" class="mx-auto w-full" />
            <figcaption>
              <strong class="truncate">{{ series }}</strong>
              <ul class="text-xs font-mono flex flex-wrap justify-center gap-x-3">
                {%- for item in magazines.items | pluck(series, 'series') %}
                  <li>
                    {{ item.issue }}
                  </li>
                {%- endfor %}
              </ul>
            </figcaption>
          </figure>
          <b class="w-6 h-6 bg-white flex items-center justify-center absolute -top-3 -right-3 rounded-full">{{ magazines.items | pluck(series, 'series') | length }}</b>
        </a>
      </li>
    {%- endfor %}
  </ul>
</article>