---
layout: 'layouts/default.njk'
eleventyNavigation:
  key: Misc
  title: Collectables
  ico: question
  order: 3
title: 'Misc'
---

{%- import 'components/heading.njk' as heading %}
{%- import 'components/item-list.njk' as list %}

<article class="container mx-auto p-6">
  {{ heading.x(title) }}
  <ul class="grid(& cols-2) gap-16 lg:(grid-cols-5)">
    {%- for series in (misc.series) %}
      <li>
        {{ list.x(name=series,sub=misc.items | pluck(series, 'series'),svg=series | slugify,url='/misc/'+ series | slugify +'/') }}
      </li>
    {%- endfor %}
  </ul>
</article>