---
layout: 'layouts/default.njk'
eleventyNavigation:
  key: Zines
  title: Magazines
  ico: newspaper
  order: 2
title: 'Magazines'
---

{%- import 'components/heading.njk' as heading %}
{%- import 'components/item-list.njk' as list %}

<article class="container mx-auto p-6">
  {{ heading.x(title) }}
  <ul class="grid(& cols-2) gap-4 lg:(grid-cols-5)">
    {%- for series in (zines.series) %}
      <li>
        {{ list.x(name=series,sub=zines.items | pluck(series, 'series'),image='/_assets/img/zines/'+ series | slugify +'/series.jpg?v='+ version,url='/zines/'+ series | slugify +'/') }}
      </li>
    {%- endfor %}
  </ul>
</article>