---
layout: 'layouts/default.njk'
pagination:
  data: misc.series
  size: 1
  alias: series
permalink: "misc/{{ series | slugify }}/"
eleventyComputed:
  title: "{{ series }} : Misc"
---

<section>
  <div class="container mx-auto">
    <h1>{{ series }}</h1>
    <ul class="grid(& cols-3) gap-16">
      {%- for item in misc.items %}
        {%- if item.series === series %}
          <li>
            <figure>
              <img src="/_assets/img/_comic.jpg" alt="{{ item.series }}, {{ item.issue }}" class="w-32" />
              <figcaption>#{{ item.issue }} / {{ item.release_date }}</figcaption>
            </figure>
          </li>
        {%- endif %}
      {%- endfor %}
    </ul>
  </div>
</section>