---
layout: layouts/default.njk
pagination:
  data: collections.magazinesByTitle
  size: 1
  alias: magazine
permalink: 'magazines/{{ magazine | slugify }}/'
eleventyComputed:
  title: '{{ magazine | safe }}'
  cover: '/_assets/img/magazines/{{ magazine | slugify }}/series.jpg'
---

{%- from 'macro.list.njk' import list, listItem -%}

{%- call list() %}
  {%- for type, items in collections.magazines | groupby('data.title') %}
    {%- if type == magazine %}
      {%- for item in items %}
        {%- set details -%}{{ item.data.issue }} {{ item.data.variant }}{%- endset -%}
        {{ listItem({
          issues: true,
          series: item.data.title,
          badge: details,
          sub: item.data.release_date,
          signed: item.data.signed_by,
          image: '/_assets/img/magazines/'+ item.data.title | slugify +'/'+ item.data.issue | slugify +'.jpg',
          loop: loop
        }) }}
      {%- endfor %}
    {%- endif %}
  {%- endfor %}
{%- endcall %}
